@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 18vh auto;
    width: 90%;
    max-width: 1440px;
    background: hsl(233, 47%, 7%);
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-rows: repeat(1, 450px);
    max-width: 1100px;
    margin: 10px auto;
    padding: 10px;
}

.content{
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.imgBox>img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card{
    padding: 74px;
}

.card h1{
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.card .ins{
    color:hsl(277, 64%, 61%);
}

.card p{
    width: 90%;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 1.8em;
    color: hsla(0, 0%, 100%, 0.75);
}

.count{
    display: flex;
    justify-content: space-between;
    margin: 50px auto; 
    padding: 10px;
}

.count h3{
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

.count h3 span{
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px auto;
    font-size: 0.8rem;
    color: hsla(0, 0%, 100%, 0.6);
}

.imgBox{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: url(images/image-header-desktop.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  hsl(277, 64%, 61%);
    opacity: 0.55;
}

footer{
    font-size: 0.9rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    letter-spacing: 2px;
    color: white;
}

footer a{
    color: red;
    cursor: pointer;
}

footer a:hover{
    text-decoration: none;
    color: orangered;
}

@media screen and (max-width: 1132px) {
    body{
        margin-top: 40px;
        transition: 0.4s;
    }
    .card{
        margin-top: -40px;
        transition: 0.1s;
    }
}
@media all and (max-width: 1022px) {
    .content{
        grid-row-start: 2;
    }
    .content{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    .imgBox{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .imgBox>img{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media all and (max-width: 1000px) {
    .card{
        text-align: center;
        transition: 0.3s;
    }
    .count{
        transition: 0.3s;
    }
}

@media screen and (max-width: 555px) {
    footer{
        line-height: 1.8;
    }
}
@media  all and (max-width: 535px) {
    body{
        max-width: none;
    }
    .main{
        transform: scale(0.9);
        transition: 0.4s;
        margin: -40px auto;
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .card>h1{
        width: 250px;
        margin: auto;
        font-size: 1.6rem;
    }
    .card>p{
        width: 130%;
        margin: auto;
        margin-top: 15px;
        margin-left: -32px;
    }
    .imgBox{
        height: 250px;
        width: 100%;
        overflow: hidden;
        background: url("images/image-header-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        grid-row-start: 1;
        grid-column-start: 1;
        transition: 0.4s;
    }
    .overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  hsl(277, 64%, 61%);
        opacity: 0.55;
    }

    .count{
        flex-direction: column;
        padding: 0px;
        margin-bottom: -15px;
    }   
    .count >h3{
        padding: 17px;
    }
    .count h3>span{
        padding: 0px;
    }
}
@media all and (max-width: 380px) {
    .card>h1{
        margin-left: -31px;
    }
}


